/* General */
header {
    background-color: #add9e7;
    padding: 30px 0px;
}
ul{
    list-style: none;
}
ul > li {
    display: inline-block;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
}
nav{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.cflex{
    display: flex;
}
/* Specific */
/* Header */
.header-div{
    display: flex;
    max-width: 1200px;
    justify-content:center;
}
/* Prima Section */
.logo, nav, .login{
    border: 1px dashed black;
    background-color: #daa421;
    padding: 10px;
}
.logo, .login{
    min-width: 150px;
}
.login{
    text-align: end;
}
.first-sec{
    background-color: #01008a;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #b5d7e1;
}
.box-first{
    background-color: #ee82ef;
    width: 600px;
    min-height: 300px;
    border: 2px dashed black;
}
/* Seconda Section */
.second-sec{
    padding: 30px 0;
}
.box-right{
    background-color: #ffc0cb;
    height: 400px;
    width: 40%;
    border: 2px dashed black;
}
.box-left{
    background-color: #1e90ff;
    height: 400px;
    width: 60%;
    border: 2px dashed black;
}